<div class="app-pane__subnav app-hide-mobile">
  <nav aria-labelledby="sidemenulabel">
    <h2 id="sidemenulabel" class="app-subnav__heading">Side Menu</h2>

    <ul class="app-subnav__section govuk-list govuk-!-font-size-16">
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link" href="#">Search</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link" href="#">Admin Security</a>
      </li>
      <li class="app-subnav__section-item app-subnav__section-item--current">
        <a class="app-subnav__link  govuk-link" href="#">Maintain Lookups</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link" href="#">Maintain Rules</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link" href="#">SSO Admin</a>
      </li>
    </ul>
    <button class="govuk-button govuk-button--secondary">Log Off</button>
  </nav>
</div>
