<div class="app-pane__subnav app-hide-mobile">
  <nav aria-labelledby="sidemenulabel">
    <h2 id="sidemenulabel" class="app-subnav__heading">Side Menu</h2>

    <ul class="app-subnav__section govuk-list govuk-!-font-size-16">
      <li class="app-subnav__section-item{% if page == 'pagination' %} app-subnav__section-item--current{% endif %}">
        <a class="app-subnav__link govuk-link" href="/components/pagination">Pagination</a>
      </li>
      <li class="app-subnav__section-item{% if page == 'modal' %} app-subnav__section-item--current{% endif %}">
        <a class="app-subnav__link govuk-link" href="/components/modal">Modal</a>
      </li>
    </ul>
  </nav>
</div>
