// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Templates that aren't in Frontend
@import "templates/app";

// Internatl Services specific
:root {
  --primary: #00a33b;
}

// Utilities
.flex {
  display: flex;
}

.align-middle {
  align-self: center;
}

.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 2em;
}
.mb-3 {
  margin-bottom: 3em;
}
.mb-4 {
  margin-bottom: 4em;
}

.govuk-header {
  // background: #fff;
  border-bottom: 10px solid var(--primary);

  &__container {
    border: none;
    margin-bottom: 0;
  }
}
.header-logo {
  width: 150px;
  height: auto;
  display: block;
  position: relative;
  margin-left: 0;
  margin-right: 25%;
  line-height: 0;
}

.gem-c-organisation-logo {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.app-subnav {
  background-color: #F5F5F5;
  border-right: 1px solid #bfc1c3;
  height: 100%;
  padding: 1em;

  &__heading {
    @include govuk-visually-hidden;
  }

  &__section {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


// Defra Components
@import "components/pagination";
@import "components/button-as-link";
@import "components/modal";

// Science Search
@media (min-width: 40.0625em) {
  .app-mobile-filters-link {
    display: none
  }
}

.filters-modal {
  background: #fff;
  bottom: 0;
  // display: none;
  height: 100%;
  left: 0;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  &__header {
    display: grid;
    grid-auto-flow: column;
    padding: 15px 0 10px;
    border-bottom: 1px solid #b1b4b6;
    margin: 0 15px 0 15px;
  }

  &__content {
    padding: 10px 15px 90px 15px;
  }

  &__footer {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 15px;
    border-top: 1px solid #b1b4b6;
    box-shadow: 0px 0 5px rgba(177,180,182,0.8);

    button {
      margin-bottom: 0;
    }
  }

  &__heading {
    margin: 0;
  }

  &__return-link {
    justify-self: end;
    align-self: center;
    font-weight: 400;
    margin: 0;
  }

  &__clear-filters {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 400;
  }
}
