{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Components
{% endblock %}

{% block content %}
  <div class="govuk-grid-row flex mb-3">
    <div class="govuk-grid-column-one-third">
      <aside class="app-subnav" role="complementary">
        {% include "includes/nav_pages.html" %}
      </aside>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Designing and building Defra internal services</h1>
      <p>Landing page - info needed</p>
    </div>
  </div>
{% endblock %}
